/* app css stylesheet */

body {
    background-image: url("../img/mountains2.jpg");
}
.zipcode-error{
    margin-left:25px;
}
.weather-title {
    font-size:54px !important;
    text-align:center;
}
.footer-section-title{
    text-align:center;
    background-color: white !important;
    font-size:22px;
}
.header-section-title{
    text-align:center;
    font-size:22px;
    background-color: #c2c8c8 !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
}

h2 {
    font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
h1 {
    font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
.weather-text-day-title-container{
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
}
.weather-location-header{
    margin-top:25px;
    margin-bottom:25px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
}
.float-none {
    float: none !important;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.weather-period-hourly-container-even{
    margin-top:10px;
    background-color:#deeaee;
    height:50px;
}
.weather-period-main-container{

    background-color: white !important;
    padding: 15px;
    height: 175px;
}
.weather-period-primary-container{
   /* background-color: white !important;*/
}

.carousel-indicators{
    display:none;
}
.weather-period-hourly-container-odd{
    margin-top:10px;
    height:50px;
}
.weather-period-hourly-container-mobile-even{
    margin-top:10px;
    background-color:#deeaee;
}

.weather-period-hourly-container-mobile-e{
    margin-top:10px;
    background-color:#deeaee;
}
.weather-period-hourly-container-mobile-odd{
    margin-top:10px;
    background-color:white !important;
}
.weather-details-container{
    margin-left:25px;
    background-color: white !important;
}
.weather-radar-map-container{
    margin-bottom:50px;
    margin-top:25px
}
.weather-webcam-container{
    margin-left:25px;
}
.weather-webcam-container img{
    height:300px !important;
}
.no-padding{
    padding:0px !important;
}
.no-padding-right-left{
    padding-left:0px !important;
    padding-right:0px !important;
}
.weather-body-container{
    background-color:#d6fcfd;
}
.weather-main-page-header{
    background-color: #0d6994;
    padding-bottom:50px;
    padding-top:50px;
}
.geographical-input-container-label{
    margin-left:25px;
    font-size:22px;
    font-weight:bold;
}
.geographical-input-container{
    margin-left:25px;
}
.weather-mobile-container{
    margin:25px;
}