<div ng-if="forecast != undefined"  class="row visible-xs visible-sm">
    <div class="col-md-12 col-lg-12 header-section-title no-padding">
        Detailed Weather Forecast
    </div>
    <div class="col-md-12 weather-mobile-container">
        <div class="row">
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-lg-1col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[0].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[0].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[1].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[1].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[2].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[2].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[3].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[3].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[4].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[4].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[5].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[5].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[6].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[6].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[7].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[7].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[8].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[8].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[9].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[9].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[10].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[10].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[11].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[11].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[12].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[12].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[13].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[13].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[14].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[14].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[15].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[15].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[16].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[16].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[17].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[17].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-even">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[18].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[18].fcttext}}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="weather-period-hourly-container-mobile-odd">
                    <div class="row">
                        <div class="col-md-1 col-sm-3 col-xs-3">
                            {{forecast.txt_forecast.forecastday[19].title}}
                        </div>
                        <div class="col-md-11 col-sm-9 col-xs-9">
                            {{forecast.txt_forecast.forecastday[19].fcttext}}
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>
<div ng-if="forecast != undefined" class="row visible-md visible-lg">
    <div class="col-md-12 col-lg-12 header-section-title no-padding-right-left">
        Extended Forecast
    </div>
    <div class="col-md-12 weather-main-page-header">
        <div class="row">
            <div class="col-md-10 center-block float-none weather-period-primary-container">
                <div class="row">
                    <div class="col-md-1 col-lg-1">

                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[0].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[0].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[0].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[0].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[0].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[1].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[1].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[1].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[1].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[1].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[2].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[2].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[2].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[2].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[2].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[3].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[3].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[3].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[3].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[3].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[4].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[4].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[4].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[4].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[4].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[5].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[5].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[5].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[5].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[5].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[6].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[6].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[6].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[6].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[6].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[7].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[7].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[7].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[7].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[7].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[8].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[8].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[8].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[8].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[8].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 col-lg-1">
                        <div class="weather-period-main-container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    {{forecast.simpleforecast.forecastday[9].date.weekday}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-image-container">
                                    <img src="{{forecast.simpleforecast.forecastday[9].icon_url}}" />
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-details-container">
                                    Low: {{forecast.simpleforecast.forecastday[9].low.fahrenheit}}
                                    <br />
                                    High: {{forecast.simpleforecast.forecastday[9].high.fahrenheit}}
                                </div>
                                <div class="col-md-12 col-lg-12 weather-period-conditions-container">
                                    {{forecast.simpleforecast.forecastday[9].conditions}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-md-12 col-lg-12 weather-body-container visible-md visible-lg">
        <div class="row">
            <div class="col-md-2 col-lg-2 footer-section-title no-padding">
                Local Webcam Feeds
            </div>
            <div class="col-md-7 col-lg-7 footer-section-title no-padding">
                Detailed Weather Forecast
            </div>
            <div class="col-md-3 col-lg-3 footer-section-title no-padding">
                Satellite Imagery
            </div>

        </div>
        <div class="row">
            <div class="col-md-2 weather-webcam-container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 weather-radar-map-container">
                        <div style="height: 305px">
                            <carousel interval="myInterval">
                                <slide ng-repeat="slide in webcamData.webcamArray1" active="slide.active">
                                    <img src="img-responsive" ng-src="{{slide.image}}" style="margin:auto;">
                                    <div class="carousel-caption">
                                        <p>{{slide.text}}</p>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 weather-radar-map-container">
                        <carousel interval="myInterval">
                            <slide ng-repeat="slide in webcamData.webcamArray2">
                                <img src="img-responsive" ng-src="{{slide.image}}" style="margin:auto;">
                                <div class="carousel-caption">
                                    <p>{{slide.text}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>
                    <div class="col-md-12 col-lg-12 weather-radar-map-container">
                        <div style="height: 305px">
                            <carousel interval="myInterval">
                                <slide ng-repeat="slide in webcamData.webcamArray3" active="slide.active">
                                    <img src="img-responsive" ng-src="{{slide.image}}" style="margin:auto;">
                                    <div class="carousel-caption">
                                        <p>{{slide.text}}</p>
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 weather-details-container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[0].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[0].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[1].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[1].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[2].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[2].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[3].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[3].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[4].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[4].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[5].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[5].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[6].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[6].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[7].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[7].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[8].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[8].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[9].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[9].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[10].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[10].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[11].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[11].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[12].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[12].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[13].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[13].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[14].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[14].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[15].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[15].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[16].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[16].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[17].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[17].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-even">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[18].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[18].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="weather-period-hourly-container-odd">
                            <div class="row">
                                <div class="col-md-1 weather-text-day-title-container">
                                    {{forecast.txt_forecast.forecastday[19].title}}
                                </div>
                                <div class="col-md-11">
                                    {{forecast.txt_forecast.forecastday[19].fcttext}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 weather-radar-container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 weather-radar-map-container">
                        <img class="img-responsive" src="{{satelliteData.image_url}}"/>
                    </div>
                    <div class="col-md-12 col-lg-12 weather-radar-map-container">
                        <img class="img-responsive" src="{{satelliteData.image_url_vis}}"/>
                    </div>
                    <div class="col-md-12 col-lg-12 weather-radar-map-container">
                        <img class="img-responsive" src="{{satelliteData.image_url_ir4}}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

