<div class="row">
    <div class="col-md-12 weather-title">
       <h1>Binary Weather Forecasts</h1>
    </div>
    <div class="col-md-12 geographical-input-container-label">
        Get Weather forecast
    </div>
    <div class="col-md-12 geographical-input-container">
        Zipcode: <input type="text" ng-model="geographicalInput"/>
    </div>
    <div class="col-md-12 zipcode-error" ng-if="locationError == true">
        <br />
        Please enter a 5 digit zipcode
    </div>
</div>



<div class="weather-page-container">

    <div ng-if="forecast != ''" class="weather-location-header">
        {{userCity}} {{userState}}
    </div>
    <div ng-if="forecast != undefined && userCity != undefined && userState != undefined && forecast != ''" class="three-day-forecast">
        <ten-day-weather-forecast forecast="forecast" satellite-data="satelliteData" webcam-data="webcamData"></ten-day-weather-forecast>
    </div>
</div>

